%div.center.hero-unit
  %h1 Welcome to the Alarm Knowledge Base

  %h2 
    This is the home page for the 
    -#%a{:href => "http://www.comau.com/chn/offering_competence/robotics_automation/Pages/robotics_automation.aspx"}Comau Robotics 
    alarm knowledge base application.

  = link_to "Sign up now!", new_user_registration_path, :class => "btn btn-large btn-primary" if current_user.nil?

-#= link_to image_tag("ComauRobotics.png", :width => 150, :alt => "Comau Robotics"),  'http://www.comau.com/chn/offering_competence/robotics_automation/Pages/robotics_automation.aspx'