%h2 Search Results

- if alarm.nil?
  %h2 No Alarm found
- else
  %table#alarms
    %thead
      %tr
        %th Code
        %th Severity
        %th Message
        %th Cause
        %th Remedy
      
    %tbody
      %tr
        %td= link_to "#{alarm.code}", alarm_path(alarm)
        %td= alarm.severity
        %td= alarm.message
        %td= alarm.cause
        %td= alarm.remedy
