-# edit.html.haml using partial

%h1 Edit Existing Alarm

= form_tag alarm_path(@alarm), :method => :put do

  %div.clear
    %div.left
      = label :alarm, :code, 'Code'
    %div.left
      = text_field :alarm, :code

  %div.clear
    %div.left
      = label :alarm, :severity, 'Severity'
    %div.left
      = select :alarm, :severity, Alarm.all_severities

  %div.clear
    %div.left
      = label :alarm, :message, 'Message'
    %div.left
      = text_area :alarm, :message, :size => "50x5", :class => "span6"

  %div.clear
    %div.left
      = label :alarm, :cause, 'Cause'
    %div.left
      = text_area :alarm, :cause, :size => "50x5", :class => "span6"

  %div.clear
    %div.left
      = label :alarm, :remedy, 'Remedy'
    %div.left
      = text_area :alarm, :remedy, :size => "50x5", :class => "span6"

  %div.clear
    %div.left
      = label :alarm, :comments, 'Comments'
    %div.left
      = text_area :alarm, :comments, :size => "50x5", :class => "span6"

  %br/
  %br/
  %div.clear
    = submit_tag 'Update Alarm Info'
