-#  This file is app/views/alarms/index.html.haml
%h1 All Alarms

= form_tag alarms_path, :method => :get, :id => 'severities_form' do
  = hidden_field_tag "code_sort", true if @code_header
  = hidden_field_tag "severity_sort", true if @severity_header
  Include: 
  - @all_severities.each do |severity|
    = check_box_tag "severities[#{severity}]", 1, @selected_severities.include?(severity), :id => "severities_#{severity}"
    = severity
  = submit_tag 'Refresh', :id => 'severities_submit'

%table#alarms
  %thead
    %tr
      %th{:class => @code_header}= link_to 'Code', alarms_path(:sort => 'code', :severities => @selected_severities), :id => 'code_header'
      %th{:class => @severity_header}= link_to 'Severity', alarms_path(:sort => 'severity', :severities => @selected_severities), :id => 'severity_header'
      %th Message
      %th Cause
      %th Remedy
      -#%th All Conditions
  %tbody
    - @alarms.each do |alarm|
      %tr
        %td= link_to "#{alarm.code}", alarm_path(alarm)
        %td= alarm.severity
        %td= alarm.message
        %td= alarm.cause
        %td= alarm.remedy

= paginate @alarms

- if user_signed_in? && (can? :create, Alarm)
  = link_to 'Add new alarm', new_alarm_path
  %br/
%br/
= link_to 'Search alarm', search_alarm_path
%br/

-# = link_to 'Benchmark moviegoer.reviews', benchmark_path(:type=>'moviegoers')
-# <br/>
-# = link_to 'Benchmark movie.reviews', benchmark_path(:type=>'movies')
