%h1 Create New Alarm

= form_tag alarms_path do

  %div.clear
    %div.left
      = label :alarm, :code, 'Code'
    %div.left
      = text_field :alarm, :code

  %div.clear
    %div.left
      = label :alarm, :message, 'Message'
    %div.left
      = text_area :alarm, :message, :size => "40x10"

  %div.clear
    %div.left
      = label :alarm, :severity, 'Severity'
    %div.left
      = select :alarm, :severity, Alarm.all_severities
  %br/
  %br/
  %div.clear
    = submit_tag 'Save Changes'
