%h1 Search Alarm

= form_tag search_alarm_path, :method => :get, :remote => true do
  %div.left
    = label :code, 'Code'
  %div.left
    = text_field_tag :code
  %div.left
    = submit_tag 'Search'

%div#search_result.clear