-# in app/views/alarms/show.html.haml

%h1 Details about Alarm #{@alarm.code}

%ul#details
  %li
    Code:
    = @alarm.code
  %li
    Severity:
    = @alarm.severity
  %li
    Message:
    = @alarm.message
  %li
    Cause:
    = @alarm.cause
  %li
    Remedy:
    = @alarm.remedy
  %li
    Comments:
    = @alarm.comments

-#= link_to 'Find conditions with this alarm', alarms_condition_path(@alarm)
<br/>
-#= link_to 'Malfunctioning parts to this alarm', replaced_parts_viewed_with_path(@alarm)
- if user_signed_in? && (can? :update, @alarm)
  <br/>
  = link_to 'Edit', edit_alarm_path(@alarm)
<br/>
- if user_signed_in? && (can? :destroy, @alarm)
  <br/>
  = button_to 'Delete', alarm_path(@alarm), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to alarm list', alarms_path
