= form_for @part, :multipart => true do |f|
  - if @part.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@part.errors.count, "error")
        prohibited this part from being saved:

      %ul#details
      - @part.errors.full_messages.each do |msg| 
        %li
          = msg

  %div.clear
    %div.left
      = f.label :part_no
    %div.left
      = f.text_field :part_no

  %div.clear
    %div.left
      = f.label :name
    %div.left
      = f.text_field :name

  %div.clear
    %div.left
      = f.label :manifests, 'Manifests'
    -#%div.left
    -#  = f.file_field :replacement_pdf
    -#- if @part.replacement_pdf && @part.replacement_pdf.path
    -#  %div.left
    -#    = f.check_box :remove_replacement_pdf
    -#    remove
    %table#alarms
      %thead
        %tr
          %th Robot
          %th Axis
          %th Replacement Instructions
          %th Remove record
      %tbody
        = f.fields_for :manifests do |builder|
          = render "manifest_fields", :f => builder

  %p
    = link_to_add_fields "Add Manifest", f, :manifests, {}, "#alarms"

  %br/
  %div.clear
    = f.submit
