%tr.fields
  %td= f.collection_select :robot_id, Robot.all, :id, :code_and_model, {:include_blank => "Keep this selected if this part is irrelevant to robot"}, :style => "width:80%;"
  %td= f.select :axis, Robot.all_axes, :include_blank => "Keep this selected if this part is irrelevant to axis"
  %td= f.file_field :replacement_pdf
  %td= link_to_remove_fields "Remove", f
