%h2 Search Results

- if part.nil?
  %h2 No Part found
- else
  %table#alarms
    %thead
      %tr
        %th Part No.
        %th Name
        %th Replacement Instructions
      
    %tbody
      %tr
        %td= link_to "#{part.part_no}", part_path(part)
        %td= part.name
        - if part.manifests.length == 0
          %td
        - elsif part.manifests.length == 1 && part.manifests.first.robot_id.nil? && part.manifests.first.axis.empty?
          %td= link_to "#{File.basename(part.manifests.first.replacement_pdf.path)}", part.manifests.first.replacement_pdf_url
        - else
          %td= link_to "More Info", part_path(part)
