-#  This file is app/views/parts/index.html.haml
%h1 All Parts

%table#alarms
  %thead
    %tr
      %th{:class => @no_header}= link_to 'Part No.', parts_path(:sort => 'no'), :id => 'no_header'
      %th Name
      %th Replacement Instructions
  %tbody
    - @parts.each do |part|
      %tr
        %td= link_to "#{part.part_no}", part_path(part)
        %td= part.name
        - if part.manifests.length == 0
          %td
        - elsif part.manifests.length == 1 && part.manifests.first.robot_id.nil? && part.manifests.first.axis.empty?
          %td= link_to "#{File.basename(part.manifests.first.replacement_pdf.path)}", part.manifests.first.replacement_pdf_url
        - else
          %td= link_to "More Info", part_path(part)

= paginate @parts

= link_to 'Add new part', new_part_path
%br/
%br/
= link_to 'Search part', search_part_path
%br/

-# = link_to 'Benchmark moviegoer.reviews', benchmark_path(:type=>'moviegoers')
-# <br/>
-# = link_to 'Benchmark movie.reviews', benchmark_path(:type=>'movies')
