%h1 Search Part

= form_tag search_part_path, :method => :get, :remote => true do
  %div.left
    = label :part_no, 'Part No.'
  %div.left
    = text_field_tag :part_no
  %div.left
    = submit_tag 'Search'

%div#search_result.clear