-# in app/views/parts/show.html.haml

%h1 Details about Part #{@part.part_no}

%ul#details
  %li
    Part No.:
    = @part.part_no
  %li
    Name:
    = @part.name
  %li
    Replacement Instructions (PDF):
    -#- if @part.replacement_pdf.file
    -#  = link_to "#{File.basename(@part.replacement_pdf.path)}", @part.replacement_pdf_url
    - if @part.manifests.size == 1 && @part.manifests.first.robot.nil?
      = link_to "#{File.basename(@part.manifests.first.replacement_pdf.path)}", @part.manifests.first.replacement_pdf_url
    - else
      %table#alarms
        %thead
          %tr
            %th Robot
            %th Axis
            %th Replacement Instructions
        %tbody
          - @part.manifests.each do |manifest|
            %tr
              - if user_signed_in? && (can? :show, manifest.robot)
                %td= link_to manifest.robot.model, robot_path(manifest.robot)
              - else
                %td= manifest.robot.model
              %td= manifest.axis
              %td= link_to "#{File.basename(manifest.replacement_pdf.path)}", manifest.replacement_pdf_url

-#= link_to 'Find conditions with this alarm', alarms_condition_path(@alarm)
<br/>
-#= link_to 'Malfunctioning parts to this alarm', replaced_parts_viewed_with_path(@alarm)
- if user_signed_in? && (can? :update, @part)
  <br/>
  = link_to 'Edit', edit_part_path(@part)
<br/>
- if user_signed_in? && (can? :destroy, @part)
  <br/>
  = button_to 'Delete', part_path(@part), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to part list', parts_path
