<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
	  <div class="span4 offset6">
	      <%= f.label :email %>
	      <%= f.email_field :email, :autofocus => true %>

	      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
	      <% end %>

	      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
	      <%= f.password_field :password, :autocomplete => "off" %>

	      <%= f.label :password_confirmation %>
	      <%= f.password_field :password_confirmation %>
      </div>
	  <div class="span5 offset6">
	      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
	      <%= f.password_field :current_password %>
      </div>
	  <div class="span4 offset6">
	      <%= f.label :first_name %>
	      <%= f.text_field :first_name %>

	      <%= f.label :last_name %>
	      <%= f.text_field :last_name %>

	      <%= f.label :telephone %>
	      <%= f.telephone_field :telephone %>

	      <div class="clear">
	        <%= f.submit "Update", class: "btn btn-primary" %>
	      </div>
	  </div>
    <% end %>
	<div class="span4 offset6">
	    <h3>Cancel my account</h3>

	    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

	    <%= link_to "Back", :back %>
  	</div>
  </div>
</div>
