<h2>Sign up</h2>

<div class="row">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="span3 offset6">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :telephone %>
      <%= f.telephone_field :telephone %>

      <div class="clear">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
