%div.fields
  %div.clear
    %div.left
      = label :code, "Code"
    %div.left
      = collection_select :alarm, :code, Alarm.all.order_by([:code, :asc]), :code, :code, {}, :name => "alarms[]"
    %div.left
      = link_to_remove_fields "remove"
    %div.left
      %div#alarm_message