%div.fields
  %div.clear
    - if f
      %div.left
        = f.label :code, "Code"
      %div.left
        -#= f.collection_select :alarms, Alarm.all.order_by([:code, :asc]), :code, :code, {}, :name => "diagnosis[alarms][]", :cache => true
        -#= f.text_field :alarms, :id => "text_#{id}", :name => "diagnosis[alarms][]", "data-remote" => true, "data-url" => "/alarms/show", "data-type" => "json"
        = f.text_field :alarms, :id => "text_#{id}", :name => "diagnosis[alarms][]", :value => alarm
    - else
      %div.left
        = label :code, "Code"
      %div.left
        = text_field_tag "alarms[]", nil, :id => "text_#{id}"
    
    %div.left
      = link_to_remove_fields "remove"
    %div.left
      %div{:id => "hidden_#{id}"}

:javascript
  $("#text_#{id}").on('keyup', function(){
    $.ajax({
      success: function(alarm) {
        if (alarm) {
          $("#hidden_#{id}").html(alarm.message);
        } else {
          $("#hidden_#{id}").html("No corresponding alarm");
        }
      },
      data: 'code=' + $("#text_#{id}").val(),
      dataType: 'json',
      type: 'get',
      url: '/alarms/search/'
    })
  });

  $("#text_#{id}").on('ajax:beforeSend', function(evt){
    
  });

  $("#text_#{id}").on('ajax:success', function(evt, alarm) {
    // data is now an array containing your objects 
    // you can dump them on firebug or your web browser console using console.log(data); 
    if (alarm) {
      $("#hidden_#{id}").html(HTMLEncode(alarm.message));
    } else {
      $("#hidden_#{id}").html("No corresponding alarm");
    }
  });
