%h2 Diagnose Results

- if @solution_results.empty? and @no_solution_results.empty?
  %h2 No Matched Errors found
- else
  -# results = Kaminari.paginate_array(results).page(1).per(10)
  %table#alarms
    %thead
      %tr
        %th Date Time
        %th Error Messages
        %th Diagnoses
        %th Detail
      
    %tbody
      - if @solution_results.empty? && !current_user.admin?
        %h2 Sorry, there is no knowledge to your problems but your error log is sent to the administrator.
      - @solution_results.each do |result|
        %tr
          %td= @alarms_happened_time[result[0]].join("<br>")
          %td= result[1]
          -#- if result[2].nil?
          -#  %td= "No Solutions"
          -#  %td= link_to "Create", new_diagnosis_path
          -#- else
          %td= result[2].solutions.map{|s| "#{Part.where(:part_no => s.part_no).first.name} [#{s.times}]"}.join("<br>")
          %td= link_to "More Info", diagnosis_path(result[2])
      - if current_user.admin?
        - @no_solution_results.each do |result|
          %tr
            %td= @alarms_happened_time[result[0]].join("<br>")
            %td= result[1]
            %td= "No Knowledge"
            - if user_signed_in? && (can? :create, Diagnosis)
              %td= link_to "Create", new_diagnosis_path(:alarms => result[0])
            - else
              %td

  -#= paginate results
