%h2 Search Results

- if diagnoses.nil? || diagnoses.empty?
  %h2 No Diagnosis found
- else
  %table#alarms
    %thead
      %tr
        %th No
        %th Alarm Codes
        %th Solutions
        %th Detail
      
    %tbody
      - diagnoses.each do |diagnosis|
        %tr
          %td= @no += 1
          %td= diagnosis.alarms.join("<br>").html_safe
          %td= diagnosis.solutions.map { |s| "#{Part.where(:part_no => s.part_no).first.name} [#{s.times}]" }.join("<br>").html_safe
          %td= link_to "More Info", diagnosis_path(diagnosis)
