%div.fields
  %div.clear
    %div.left
      = f.label :part_no, "Part No."
    %div.left
      = f.collection_select :part_no, Part.all, :part_no, :part_no_and_name, {}, :style => "width:100%;"
    - if opt[:new]
      %div{:style => "display: none"}
        = f.label :times, "Times"
      %div{:style => "display: none"}
        = f.text_field :times, :value => 0
      %div.left
        = check_box_tag :replaced, "0", false, :onchange => "check_part_replaced(this)"
      %div.left
        = label "", "Replaced"
    - else
      %div.left
        = f.label :times, "Times"
      %div.left
        = f.text_field :times
    %div.left
      = link_to_remove_fields "remove", f

  %div.clear
    %div.left
      = f.label :description, "Description"
    %div.left
      = f.text_area :description, :size => "40x10"
    %div.left
      = f.label :example, "Example"
    %div.left
      = f.text_area :example, :size => "40x10"

