-# edit.html.haml using partial

%h1 Edit Existing Diagnosis

%h3 Alarms Happened
%table#alarms
  %thead
    %tr
      %th Code
      %th Error Message
      %th Severity
  %tbody
    - @alarms.each do |alarm|
      %tr
        %td= alarm.code
        %td= alarm.message
        %td= alarm.severity

= form_for @diagnosis do |f|
  %h2 Diagnosing Diagram
  %div#diagram
    %div.clear
      %div.left
        = f.label :diagnosing_diagram, "Diagram"
      %div.left
        = f.file_field :diagnosing_diagram
      %div.left
        = f.check_box :remove_diagnosing_diagram
      remove
    %div.clear

  %h2 Solutions
  %div#solutions
    = f.fields_for :solutions do |s|
      = render "solution_fields", :f => s, :opt => {}
  %div.clear
    = link_to_add_fields "Add Solution", f, :solutions, :new => true

  %br/
  %div.clear
    = submit_tag 'Update Diagnosis Info'
