-#  This file is app/views/diagnoses/index.html.haml
%h1 All Diagnoses

%table#alarms
  %thead
    %tr
      %th No
      %th Alarm Codes
      %th Solutions
      %th Detail
      
  %tbody
    - @diagnoses.each do |diagnosis|
      %tr
        %td= @no += 1
        %td= diagnosis.alarms.join("<br>").html_safe
        %td= diagnosis.solutions.map{ |s| "#{Part.where(:part_no => s.part_no).first.name} [#{s.times}]" }.join("<br>").html_safe
        %td= link_to "More Info", diagnosis_path(diagnosis)

= paginate @diagnoses

= link_to 'Add new diagnosis', new_diagnosis_path
%br/
%br/
= link_to 'Search diagnosis', search_diagnosis_path
%br/
%br/
= link_to 'Diagnose error log', diagnosis_logfile_path
-# <br/>
-# = link_to 'Benchmark movie.reviews', benchmark_path(:type=>'movies')
