%h1 Diagnose Logfile

= form_tag diagnosis_analyze_path, :multipart => true, :remote => true do
  %div.clear
    %div.left
      = label :date, "Date:"
    %div#datetimepicker4.input-append.left
      = text_field_tag :date, nil, "data-format" => "yyyy-MM-dd"
      %span.add-on
        %i{:class => "icon-calendar", "data-time-icon" => "icon-time", "data-date-icon" => "icon-calendar"}

  %br/

  %div.clear
    %div.left
      = label :time, "Time:"
    %div#datetimepicker3.input-append.left
      = text_field_tag :time, nil, "data-format" => "hh:mm:ss"
      %span.add-on
        %i{:class => "icon-time", "data-time-icon" => "icon-time", "data-date-icon" => "icon-calendar"}

  %div.clear
    %div.left
      = label :range, "Time range:"
    %div.left
      = collection_select nil, nil, [[1, "5 min"], [2, "10 min"], [3, "15 min"], [4, "All"]], :first, :second, {}, {:name => "range"}

  %div.clear
    %div.left
      = label :log, "Error Log:"
    %div.left
      = file_field_tag :log, :accept => 'text/log'

  %br/
  %br/
  %div.clear
    = submit_tag 'Analyse'

%div#diagnose_result.clear

:javascript
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickDate: false
    });
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
