%h1 Create New Diagnosis

= form_for @diagnosis do |f|
  %h2 Alarm Info
  -#%div#alarms
    -#= render :partial => "alarm_fields", :locals => {:f => f, :id => Time.now.to_f}
  - if @diagnosis.alarms
    - @diagnosis.alarms.each do |alarm|
      = render :partial => "alarm_fields", :locals => {:f => f, :id => Time.now.to_f, :alarm => alarm}
  - else
    = render :partial => "alarm_fields", :locals => {:f => f, :id => Time.now.to_f, :alarm => ""}
  %div.clear
    = link_to_add_alarms "Add Alarm", f, :alarms

  %h2 Diagnosing Diagram
  %div#diagram
    %div.clear
      %div.left
        = f.label :diagnosing_diagram, "Diagram"
      %div.left
        = f.file_field :diagnosing_diagram
    %div.clear
	
  %h2 Solutions
  %div#solutions
    -# @diagnosis.solutions.each do |solution|
    = f.fields_for :solutions do |s|
      = render "solution_fields", :f => s, :opt => {:new => true}
  %div.clear
    = link_to_add_fields "Add Solution", f, :solutions, :new => true

  %br/
  %br/
  %div.clear
    = f.submit "Save Changes"
