-# in app/views/parts/show.html.haml

%h1 Details about Part #{@part_name}

%ul#details
  %li
    Name:
    = @part_name
  %li
    Replacement Instructions (PDF):
    %table#alarms
      %thead
        %tr
          %th Robot
          %th Axis
          %th Replacement Instructions
      %tbody
        %tr
          %td= collection_select nil, :robot_id, Robot.all, :id, :code_and_model, {}, { :id => "robot_id", :onchange => "update_replacement_field()" }
          %td= select nil, :axis, Robot.all_axes, { :include_blank => "Keep this selected if this part is irrelevant to axis" }, { :id => "axis", :onchange => "update_replacement_field()" }
          %td#replacement_field

:javascript
  function update_replacement_field() {
    $.ajax({
      url: "manifests/get_replacement_by_part_name",
      type: "GET",
      data: {"part_name" : '#{@part_name}', "robot_id" : $("#robot_id").val(), "axis" : $("#axis").val()},
      dataType: "html",
      success: function(data) {
        $("#replacement_field").html(data);
      }
    });
  }

  function update_axis_field() {

  }

  $(document).ready(function() {
    update_replacement_field();
  })
