%h1 Search Diagnosis

= form_tag search_diagnosis_path, :method => :get, :remote => true do
  -#%div#alarms
    -#= render "alarm_fields_without_parent"
  = render :partial => "alarm_fields", :locals => {:f => nil, :id => Time.now.to_f}
  %div.clear
    -#= link_to_add_alarms_without_parent "Add Alarm"
    = link_to_add_alarms "Add Alarm", nil, :alarms

  %br/
  %br/
  %div.clear
    = submit_tag 'Search'

%div#search_result.clear