-# in app/views/diagnoses/show.html.haml

%h1 Details about Diagnosis

%h3 Alarms Happened
%table#alarms
  %thead
    %tr
      %th Code
      %th Error Message
      %th Severity
  %tbody
    - @alarms.each do |alarm|
      %tr
        %td= alarm.code
        %td= alarm.message
        %td= alarm.severity

- if !@diagnosis.diagnosing_diagram_url.nil?
  %h3 Diagnosing Diagram
  = image_tag @diagnosis.diagnosing_diagram_url
  <br/>

%h3 Solutions
%table#alarms
  %thead
    %tr
      -#%th Part No
      %th Part Name
      %th Field Data Percentage
      %th Description
      %th Example
      %th Fixing Instructions
  %tbody
    -#- @diagnosis.solutions.each do |solution|
    - @solutions_aggregated.each_pair do |key, value|
      %tr
        -#%td= solution.part_no
        %td= key
        %td= value
        %td= @diagnosis.solutions.detect {|s| Part.where(:part_no => s.part_no).first.name == key }.description
        %td= @diagnosis.solutions.detect {|s| Part.where(:part_no => s.part_no).first.name == key }.example
        - part = Part.where(:name => key).first
        - if part.manifests.length == 0
          %td
        - elsif part.manifests.length == 1 && part.manifests.first.robot_id.nil? && part.manifests.first.axis.empty?
          %td= link_to "#{File.basename(part.manifests.first.replacement_pdf.path)}", part.manifests.first.replacement_pdf_url
        - else
          %td= link_to "More Info", diagnosis_part_path(:part => part.name)
    %tr
      %td Other
      %td 1%
      %td
      %td
      %td

-#= link_to 'Find conditions with this alarm', alarms_condition_path(@alarm)
<br/>
-#= link_to 'Malfunctioning parts to this alarm', replaced_parts_viewed_with_path(@alarm)
- if user_signed_in? && (can? :update, @diagnosis)
  <br/>
  = link_to 'Edit', edit_diagnosis_path(@diagnosis)
<br/>
- if user_signed_in? && (can? :destroy, @diagnosis)
  <br/>
  = button_to 'Delete', diagnosis_path(@diagnosis), :method => :delete, :confirm => 'Are you sure?'
- if user_signed_in? && (can? :index, @diagnosis)
  = link_to 'Back to diagnosis list', diagnoses_path
