= form_for(@robot) do |f|
  - if @robot.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@robot.errors.count, "error")
        prohibited this robot from being saved:

      %ul#details
      - @robot.errors.full_messages.each do |msg| 
        %li
          = msg

  %div.clear
    %div.left
      = f.label :code
    %div.left
      = f.text_field :code

  %div.clear
    %div.left
      = f.label :model
    %div.left
      = f.text_field :model

  %div.clear
    %div.left
      = f.label :axes
    %div.left
      - Robot.all_axes.each do |n|
        = "Axis #{n}"
        -#= f.check_box :axes, {:name => "robot[axes][#{n}]"}, (@robot.axes && @robot.axes[n] == "1")
        = check_box_tag "robot[axes][#{n}]", 1, (@robot.axes && @robot.axes[n] == "1"), :id => "robots_axes_#{n}"
        <br/>

  %div.clear
    %div.left
      = f.label :manifests, 'Manifests'
    %table#alarms
      %thead
        %tr
          %th Axis
          %th Part
          %th Replacement Instructions
          %th Remove record
      %tbody
        = f.fields_for :manifests do |builder|
          = render "manifest_fields", :f => builder

  %p
    = link_to_add_fields "Add Manifest", f, :manifests, {}, "#alarms"

  %br/
  %div.clear
    = f.submit
