%tr.fields
  %td= f.select :axis, Robot.all_axes, :include_blank => "Keep this selected if this part is irrelevant to axis"
  %td= f.collection_select :part_id, Part.all, :id, :part_no_and_name, :style => "width:80%;"
  %td= f.file_field :replacement_pdf
  %td= link_to_remove_fields "Remove", f
