%h2 Search Results

- if robot.nil?
  %h2 No Robot found
- else
  %table#alarms
    %thead
      %tr
        %th Code
        %th Model
        %th Axes
        %th Manifests
      
    %tbody
      %tr
        %td= link_to "#{robot.code}", robot_path(robot)
        %td= robot.model
        %td= robot.axes_abbr
        - if robot.manifests.size > 0
          %td= link_to "More Info", robot_path(robot)
        - else
          %td
