-#  This file is app/views/robots/index.html.haml
%h1 All Robots

%table#alarms
  %thead
    %tr
      %th{:class => @no_header}= link_to 'Code', robots_path(:sort => 'no'), :id => 'no_header'
      %th Model
      %th Axes
      %th Manifests
  %tbody
    - @robots.each do |robot|
      %tr
        %td= link_to "#{robot.code}", robot_path(robot)
        %td= robot.model
        %td= robot.axes_abbr
        - if robot.manifests.size > 0
          %td= link_to "More Info", robot_path(robot)
        - else
          %td
    
= paginate @robots

= link_to 'Add new robot', new_robot_path
%br/
%br/
= link_to 'Search robot', search_robot_path
%br/
