-# in app/views/robots/show.html.haml

%h1 Details about Robot #{@robot.code}

%ul#details
  %li
    Code:
    = @robot.code
  %li
    Model:
    = @robot.model
  %li
    Axes:
    = @robot.axes_abbr
  %li
    Manifests:
    %table#alarms
      %thead
        %tr
          %th Axis
          %th Part
          %th Replacement Instructions
      %tbody
        - @robot.manifests.each do |manifest|
          %tr
            %td= manifest.axis
            %td= link_to manifest.part.name, part_path(manifest.part)
            %td= link_to "#{File.basename(manifest.replacement_pdf.path)}", manifest.replacement_pdf_url

<br/>
= link_to 'Edit', edit_robot_path(@robot)
<br/>
<br/>
= button_to 'Delete', robot_path(@robot), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to robot list', robots_path