!!!
%html
  %head
    %meta{:content => 'text/html; charset = UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %p 
      User 
      = @user.full_name 
      submitted an analyzing request 
    %p User info
    %ul
      %li
        Name: 
        = @user.full_name
      %li
        Email: 
        = @user.email
      %li
        Telephone: 
        = @user.telephone
    %p Request info
    %ul
      %li
        Date: 
        = @date
      %li
        Time: 
        = @time
      %li
        Range: 
        = @range
      %li
        Error Log: 
        = link_to @original_filename, @log_url
