<h2>Sign in</h2>

<div class="row">
  <div class="span3 offset6">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%>
        <div class="clear">
          <div style="float:left; margin-right:5px"><%= f.check_box :remember_me %></div>
          <div style="float:left"><%= f.label :remember_me %></div>
        </div>
      <% end -%>

      <div class="clear">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>


