/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #0046ad;
  color: white;
  border-bottom: 4px solid cyan;
  font-size: 2em;
  font-style: normal;
}
table#alarms {
  margin: 10px;
  border-collapse: collapse;
  border: 2px solid;
  width: 100%;
  border-bottom: 2px solid black;
}
table#alarms th {
  border: 2px solid;
  font-weight: bold;
  background-color: wheat;
  padding: 4px;
  text-align: left;
}
table#alarms td {
  border: 1px solid;
  padding: 4px;
  text-align: left;
}
table#alarms th.hilite {
  background-color: yellow;
}
#main #notice {
  margin: 1em 0;
  padding: 4px;
}
#main #warning {
  background: yellow;
  margin: 1em 0;
  padding: 4px;
}
#main #alert {
  background: red;
  margin: 1em 0;
  padding: 4px;
}
form label {
  /*display: block;*/
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
div.left {
  float: left;
  padding: 5px;
}
div.clear {
  clear: both;
  padding: 5px;
}

#error_explanation {
  ul {
    color: red;
    margin: auto;
    li {
      text-align: center;
    }
  }
}