%footer.footer
  %small
    %a{:href => "#"}Alarm KB
    -#by Kang Jiang

  %nav
    %ul
      %li= link_to "About", '#'
      %li= mail_to 'kang.jiang@comau.com', "Contact", :subject => "[Alarm KB] put your subject here"
