%header.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      = link_to "Alarm KB", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Alarms", alarms_path
          - if user_signed_in? && (can? :read, Part)
            %li= link_to "Parts", parts_path
          - if user_signed_in? && (can? :read, Robot)
            %li= link_to "Robots", robots_path
          - if user_signed_in? && ((can? :read, Diagnosis) || (can? :logfile, Diagnosis))
            %li= link_to "Diagnoses", diagnoses_path
          - if user_signed_in?
            %li#fat-menu.dropdown
              = link_to "#{current_user.email}<b class='caret'></b>".html_safe, "#", "class" => "dropdown-toggle", "data-toggle" => "dropdown"
              %ul.dropdown-menu
                %li= link_to "Profile", edit_user_registration_path(current_user)
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
          - else
            %li= link_to "Sign in", new_user_session_path