%html
  %head
    %title Alarm Knowledge Base
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/shim'

  %body
    = render 'layouts/header'
    
    %div.container
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #alert.message= flash[:alert]

      = yield
      = render 'layouts/footer'

    -#%h1.title Alarm Knowledge Base
    -##main
    -#  - if flash[:notice]
    -#    #notice.message= flash[:notice]
    -#  - elsif flash[:warning]
    -#    #warning.message= flash[:warning]

    -#  = yield
